// NAVBAR configuration

body {
  font-family: "Roboto", sans-serif;
}

#navbar {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  margin: 0;
  padding: 15px 10px 15 10px;
  // background-color: grey;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px gray;
}

#navbar a {
  font-size: 20px;
  float: left;
  display: block;
  padding: 30px 0 0 20px;
  color: gray;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  // background: black;
  color: black;
}

#navRight {
  text-align: center;
  vertical-align: middle;
  padding-right: 15px;
}

.forms {
  // position: relative;
  padding: 10px;
  // float: right;
  // border: solid 1px black;
  // padding: 5px;
}

#newChallengeForm {
  position: relative;
  float: right;
}
#topForms {
  display: flex-inline;
  vertical-align: middle;
}

.forms input {
  border: none;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  box-shadow: 0px 1px 1px #7e7e7e;
  padding: 7px;
  width: 150px;
  margin: 6px;
  box-sizing: border-box;
}

.forms button {
  border: none;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  box-shadow: 0px 1px 1px #7e7e7e;
  background-color: white;
  color: gray;
  padding: 7px;
  width: 120px;

  text-align: center;
}

.NavUser {
  display: inline-flex;
  align-items: center;
}
.NavUser h1 {
  padding: 0 5px 0 0;
  font-size: 20px;
}
.NavUser img {
  border-radius: 50%;
  // padding: 0 10px 0 0;
}

.loginPage {
  color: gray;
  text-align: center;
  vertical-align: middle;
}
